@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2");
* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

header {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  background: bage;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  color: #333;
  -webkit-animation: ani2 1.5s steps(70) forwards;
          animation: ani2 1.5s steps(70) forwards;
}
header h1 {
  font-size: 10vw;
}

.film {
  width: 100%;
  height: 250px;
}
.film img {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Black Han Sans", "sans-serif";
  font-size: 5vw;
}

p {
  font-family: "HallymGothic-Regular";
  margin: 0;
  font-size: 24px;
}

section {
  width: 100vw;
  height: 4000px;
  position: relative;
  color: white;
}

#sec_box {
  width: 100%;
  height: 2040px;
  transition: 1s linear;
  top: -121.8%;
  background-image: url("../img/3tv.png");
  background-size: cover;
  background-position: flex-start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
}
#sec_box :nth-of-type(4) {
  background-image: url("../img/m1.jpg");
  background-size: cover;
  background-position: center;
  display: none;
}
#sec_box :nth-of-type(5) {
  background-image: url("../img/p1.jpg");
  background-size: cover;
  background-position: center;
  display: none;
}
#sec_box :nth-of-type(6) {
  background-image: url("../img/d1.jpg");
  background-size: cover;
  background-position: center;
  display: none;
}
#sec_box :nth-of-type(7) {
  background-image: url("../img/po1.jpg");
  background-size: cover;
  background-position: center;
  display: none;
}
#sec_box :nth-of-type(8) {
  background-image: url("../img/b1.png");
  background-size: cover;
  background-position: center;
  display: none;
}

.video {
  width: 100%;
  height: 100%;
  background-image: url("../img/display_sp.png");
  background-size: cover;
  background-position: center;
}

.video_box {
  overflow: hidden;
  width: 319px;
  height: 237px;
  top: 74.5%;
  left: 41.5%;
  position: absolute;
}

.video2 {
  width: 100%;
  height: 100%;
  background-image: url("../img/noise.png");
  background-size: cover;
  background-position: center;
  -webkit-animation: glitch 1s linear;
          animation: glitch 1s linear;
  display: none;
}
.video2:after {
  position: absolute;
  content: "";
  background-image: url("../img/noise.png");
  background-size: cover;
  background-position: center;
  width: 20em;
  height: 10em;
  -webkit-animation: glitch-after 1s infinite;
          animation: glitch-after 1s infinite;
}
.video2:before {
  position: absolute;
  content: "";
  background-image: url("../img/noise.png");
  background-size: cover;
  background-position: center;
  width: 20em;
  height: 10em;
  transform: translate(0em, 3em);
  -webkit-animation: glitch-before 1s infinite;
          animation: glitch-before 1s infinite;
}

.ttv {
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.text {
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}
.text p {
  transition: 0.3s ease;
  position: relative;
  font-family: "Black Han Sans", "sans-serif";
  font-size: 4.5vw;
}
.text:hover .video {
  transform: translateX(45px) !important;
}
.text:hover p {
  transform: translateY(-90%);
}

#sec_text {
  height: 779px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  z-index: 4;
  top: 40%;
}
#sec_text :first-child p::before {
  content: "MUSIC ON";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(2) p::before {
  content: "URBAN PHOTO";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(3) p::before {
  content: "QUANTIC DREAM";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(4) p::before {
  content: "POKEMON";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(5) p::before {
  content: "BANDI&LUNI'S";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.port_box {
  width: 100vw;
  height: 100%;
  z-index: 5;
  transition: 1s ease;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
}

.port_box_left {
  width: 37%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.port_box_left h1 {
  font-size: 5vw;
}
.port_box_left span {
  font-size: 1.5vw;
}
.port_box_left .button {
  width: 200px;
  height: 50px;
  transition: 0.3s ease;
  background-color: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.port_box_left .button a {
  color: black;
  text-decoration: none;
  transition: 0.3s ease;
}
.port_box_left .button:hover .circle {
  transform: scale(0);
}
.port_box_left .button:hover .circle2 {
  transform: scale(1);
}
.port_box_left .button:hover a {
  transform: translateX(25px);
}

.button + p {
  width: 75%;
  margin-top: 3%;
  font-size: 15px;
}

.block_box {
  display: flex;
}

.block {
  width: 80px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1%;
}
.block:nth-of-type(3) {
  opacity: 0;
}

.circle {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  left: 10%;
  transition: 0.3s ease;
}

.circle2 {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  left: 10%;
  transform: scale(0);
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.code_box {
  width: 70%;
  height: 350px;
  margin-top: 3%;
}
.code_box p {
  font-size: 15px;
}

.code_menu {
  width: 50%;
  height: 50px;
  color: black;
}
.code_menu ul {
  display: flex;
}
.code_menu ul li {
  background-color: ghostwhite;
  border: 0.5px solid #666;
  border-radius: 3px;
  width: 30%;
  height: 100%;
  line-height: 3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.html, .css, .js {
  width: 100%;
  height: 272px;
}
.html iframe, .css iframe, .js iframe {
  width: 100%;
  height: 100%;
}

.css, .js {
  display: none;
}

.prev, .next, .close {
  cursor: pointer;
}

.page {
  width: 100%;
  height: auto;
  background-color: cornsilk;
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.page2 {
  width: 100%;
  height: auto;
  background-color: cornsilk;
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.page2 .page_box2 {
  width: 45%;
  height: 500px;
  background-color: blue;
}
.page2 .page_box2 img {
  width: 100%;
  height: 100%;
}
.page2 .page_box3 {
  width: 20%;
  height: 350px;
  background-color: aqua;
}

.music {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.music1 {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.page_box {
  width: 80%;
  height: 487px;
  background-color: brown;
  position: relative;
}

.port_box_right::-webkit-scrollbar {
  display: none;
}

.port_box_right {
  width: 60%;
  height: 100%;
  overflow: scroll;
  position: absolute;
}

.sc1 {
  transform: translate3d(0px, -383px, 0px) scale(1.5);
}

.sc2 {
  transform: translate3d(0px, -709px, 0px) scale(2);
}

.sc3 {
  transform: scale(3.5) rotate(-5deg) translate3d(0px, -459px, 0px);
}

.sc4 {
  transform: scale(5) rotate(-10deg) translate3d(-23px, -499px, 0px);
}

.sc5 {
  transform: scale(7) rotate(-10deg) translate3d(-23px, -516px, 0px);
}

.sc6 {
  transform: scale(7) rotate(-10deg) translate3d(-23px, -516px, 0px);
  display: none;
}

.about_box {
  width: 100%;
  height: 121px;
  display: flex;
  margin-top: -30%;
  justify-content: center;
  font-size: 50px;
}

.about {
  width: 100%;
  height: 2580px;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #17182f;
}

.star {
  position: absolute;
  -webkit-animation-name: twinkle;
          animation-name: twinkle;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.star2 {
  width: 100%;
  height: 40%;
}

.my1 {
  width: 95%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#photo_box {
  width: 390px;
  height: 390px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 50%;
  border: 2px dotted chartreuse;
}
#photo_box::before, #photo_box::after {
  content: "";
  position: absolute;
}
#photo_box::before {
  width: 2px;
  height: 50px;
  bottom: -13%;
  left: 49.5%;
  border-right: 2px dotted chartreuse;
}
#photo_box::after {
  width: 13px;
  height: 13px;
  left: 48.5%;
  bottom: -2.5%;
  background-color: chartreuse;
  border-radius: 50%;
}

.photo {
  width: 350px;
  height: 350px;
  background-color: chartreuse;
  border-radius: 50%;
}
.photo::before, .photo::after {
  content: "";
  border-radius: 50%;
  position: absolute;
}
.photo::before {
  width: 22px;
  height: 22px;
  border: 2px solid chartreuse;
  bottom: -20%;
  left: 47%;
}
.photo::after {
  width: 10px;
  height: 10px;
  background-color: chartreuse;
  bottom: -18%;
  left: 49%;
}

.pola {
  width: 35%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.pola .pola2 {
  width: 45%;
  height: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pola .pola2 .pola3 {
  width: 95%;
  height: 250px;
  background-color: blanchedalmond;
}
.pola .pola2 p {
  width: 95%;
  height: 48px;
}

.my2 {
  margin-top: 6%;
  text-align: center;
  line-height: 1.8;
  color: white;
}
.my2 h1 {
  font-size: 70px;
}

.my3 {
  width: 77%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.my3 p {
  font-size: 18px;
}

#name {
  width: 12%;
  height: 70%;
  border-right: 1px solid navy;
}

#phone {
  width: 14%;
  height: 70%;
  border-right: 1px solid navy;
}

#lo {
  width: 14%;
  height: 70%;
  border-right: 1px solid navy;
}

#his {
  width: 38%;
  height: 70%;
  border-right: 1px solid navy;
}

#certi {
  width: 13%;
  height: 70%;
}

.skill {
  width: 60%;
  height: 500px;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
}
.skill:first-of-type .wave::before, .skill:first-of-type .wave::after {
  -webkit-animation: wave2 5s linear infinite;
          animation: wave2 5s linear infinite;
}

.circe_wave {
  width: 150px;
  height: 150px;
  background: #ccc;
  border: 1px dashed #333;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.circe_wave p {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 999;
}
.circe_wave .wave {
  position: relative;
  width: 100%;
  height: 100%;
  background: #21c1e9;
  border-radius: 50%;
}
.circe_wave .wave:before, .circe_wave .wave:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.circe_wave .wave:before {
  border-radius: 45%;
  background: rgb(255, 255, 255);
  -webkit-animation: wave 5s linear infinite;
          animation: wave 5s linear infinite;
}
.circe_wave .wave:after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-animation: wave 5s linear infinite;
          animation: wave 5s linear infinite;
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@-webkit-keyframes glitch {
  0%, 26%, 30%, 72%, 76% {
    transform: skew(0deg);
    box-shadow: none;
  }
  30%, 70% {
    transform: skew(30deg);
  }
  29%, 31%, 69%, 71% {
    transform: skew(0deg);
  }
  28%, 74% {
    box-shadow: -0.2em 0.1em 0 0 cyan, 0.2em -0.1em 0 0 magenta;
  }
  100% {
    background-image: url(../img/q4.png);
  }
}
@keyframes glitch {
  0%, 26%, 30%, 72%, 76% {
    transform: skew(0deg);
    box-shadow: none;
  }
  30%, 70% {
    transform: skew(30deg);
  }
  29%, 31%, 69%, 71% {
    transform: skew(0deg);
  }
  28%, 74% {
    box-shadow: -0.2em 0.1em 0 0 cyan, 0.2em -0.1em 0 0 magenta;
  }
  100% {
    background-image: url(../img/q4.png);
  }
}
@-webkit-keyframes glitche-after {
  0%, 34%, 38%, 46%, 50%, 100% {
    transform: translate(0, 1em);
    box-shadow: none;
  }
  36%, 48% {
    transform: translate(0.4em, 10em);
    box-shadow: -1em 0 0 0 cyan, 1em 0 0 0 magenta, 0.5em 1em 0 -0.8em cyan;
  }
}
@keyframes glitche-after {
  0%, 34%, 38%, 46%, 50%, 100% {
    transform: translate(0, 1em);
    box-shadow: none;
  }
  36%, 48% {
    transform: translate(0.4em, 10em);
    box-shadow: -1em 0 0 0 cyan, 1em 0 0 0 magenta, 0.5em 1em 0 -0.8em cyan;
  }
}
@-webkit-keyframes glitch-before {
  0%, 30%, 34%, 50%, 54%, 100% {
    transform: translate(0, 5em);
    box-shadow: none;
  }
  32%, 52% {
    transform: translate(-0.4em, 5em);
    box-shadow: -0.3em 0 0 0 red, 0.3em 0 0 0 yellow;
  }
}
@keyframes glitch-before {
  0%, 30%, 34%, 50%, 54%, 100% {
    transform: translate(0, 5em);
    box-shadow: none;
  }
  32%, 52% {
    transform: translate(-0.4em, 5em);
    box-shadow: -0.3em 0 0 0 red, 0.3em 0 0 0 yellow;
  }
}
@-webkit-keyframes wave {
  0% {
    transform: translate(-50%, -88%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -88%) rotate(360deg);
  }
}
@keyframes wave {
  0% {
    transform: translate(-50%, -88%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -88%) rotate(360deg);
  }
}
@-webkit-keyframes wave1 {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@keyframes wave1 {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@-webkit-keyframes twinkle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.3);
  }
}
@keyframes twinkle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.3);
  }
}
.shootingStarContainer:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 62%;
  transform: rotate(36deg);
  z-index: 10;
}
.shootingStarContainer:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 62%;
  transform: rotate(45deg);
  z-index: 10;
}
.shootingStarContainer:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 62%;
  transform: rotate(45deg);
  z-index: 10;
}

.shootingStar {
  position: absolute;
  height: 1px;
  background: linear-gradient(-70deg, rgb(255, 235, 235), rgb(0, 0, 0));
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(1) {
  left: calc(28%);
  top: calc(76%);
  -webkit-animation: shootingFrames 1145ms ease-in-out 41862ms;
          animation: shootingFrames 1145ms ease-in-out 41862ms;
  opacity: 0.38;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(2) {
  left: calc(4%);
  top: calc(27%);
  -webkit-animation: shootingFrames 2257ms ease-in-out 56350ms;
          animation: shootingFrames 2257ms ease-in-out 56350ms;
  opacity: 0.41;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(3) {
  left: calc(18%);
  top: calc(70%);
  -webkit-animation: shootingFrames 2504ms ease-in-out 45588ms;
          animation: shootingFrames 2504ms ease-in-out 45588ms;
  opacity: 0.28;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(4) {
  left: calc(9%);
  top: calc(14%);
  -webkit-animation: shootingFrames 2131ms ease-in-out 29073ms;
          animation: shootingFrames 2131ms ease-in-out 29073ms;
  opacity: 0.55;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(5) {
  left: calc(12%);
  top: calc(59%);
  -webkit-animation: shootingFrames 1456ms ease-in-out 11761ms;
          animation: shootingFrames 1456ms ease-in-out 11761ms;
  opacity: 0.75;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(6) {
  left: calc(47%);
  top: calc(41%);
  -webkit-animation: shootingFrames 2157ms ease-in-out 33539ms;
          animation: shootingFrames 2157ms ease-in-out 33539ms;
  opacity: 0.88;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(7) {
  left: calc(32%);
  top: calc(64%);
  -webkit-animation: shootingFrames 1374ms ease-in-out 31585ms;
          animation: shootingFrames 1374ms ease-in-out 31585ms;
  opacity: 0.81;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(8) {
  left: calc(9%);
  top: calc(72%);
  -webkit-animation: shootingFrames 1432ms ease-in-out 48905ms;
          animation: shootingFrames 1432ms ease-in-out 48905ms;
  opacity: 0.56;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(9) {
  left: calc(22%);
  top: calc(55%);
  -webkit-animation: shootingFrames 2022ms ease-in-out 7908ms;
          animation: shootingFrames 2022ms ease-in-out 7908ms;
  opacity: 0.8;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(10) {
  left: calc(44%);
  top: calc(63%);
  -webkit-animation: shootingFrames 1000ms ease-in-out 48067ms;
          animation: shootingFrames 1000ms ease-in-out 48067ms;
  opacity: 0.28;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(1) {
  left: calc(8%);
  top: calc(26%);
  -webkit-animation: shootingFrames 802ms ease-in-out 19596ms;
          animation: shootingFrames 802ms ease-in-out 19596ms;
  opacity: 0.67;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(2) {
  left: calc(20%);
  top: calc(73%);
  -webkit-animation: shootingFrames 781ms ease-in-out 37362ms;
          animation: shootingFrames 781ms ease-in-out 37362ms;
  opacity: 0.63;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(3) {
  left: calc(35%);
  top: calc(93%);
  -webkit-animation: shootingFrames 1970ms ease-in-out 53278ms;
          animation: shootingFrames 1970ms ease-in-out 53278ms;
  opacity: 0.58;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(4) {
  left: calc(20%);
  top: calc(22%);
  -webkit-animation: shootingFrames 2693ms ease-in-out 58535ms;
          animation: shootingFrames 2693ms ease-in-out 58535ms;
  opacity: 0.49;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(5) {
  left: calc(40%);
  top: calc(2%);
  -webkit-animation: shootingFrames 820ms ease-in-out 17710ms;
          animation: shootingFrames 820ms ease-in-out 17710ms;
  opacity: 0.49;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(6) {
  left: calc(47%);
  top: calc(21%);
  -webkit-animation: shootingFrames 1524ms ease-in-out 19066ms;
          animation: shootingFrames 1524ms ease-in-out 19066ms;
  opacity: 0.83;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(7) {
  left: calc(9%);
  top: calc(35%);
  -webkit-animation: shootingFrames 1851ms ease-in-out 10153ms;
          animation: shootingFrames 1851ms ease-in-out 10153ms;
  opacity: 0.64;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(8) {
  left: calc(1%);
  top: calc(47%);
  -webkit-animation: shootingFrames 1814ms ease-in-out 8831ms;
          animation: shootingFrames 1814ms ease-in-out 8831ms;
  opacity: 0.76;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(9) {
  left: calc(11%);
  top: calc(99%);
  -webkit-animation: shootingFrames 1207ms ease-in-out 16853ms;
          animation: shootingFrames 1207ms ease-in-out 16853ms;
  opacity: 0.21;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(10) {
  left: calc(12%);
  top: calc(96%);
  -webkit-animation: shootingFrames 909ms ease-in-out 56601ms;
          animation: shootingFrames 909ms ease-in-out 56601ms;
  opacity: 0.31;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(1) {
  left: calc(37%);
  top: calc(67%);
  -webkit-animation: shootingFrames 1744ms ease-in-out 19179ms;
          animation: shootingFrames 1744ms ease-in-out 19179ms;
  opacity: 0.42;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(2) {
  left: calc(28%);
  top: calc(94%);
  -webkit-animation: shootingFrames 1118ms ease-in-out 4301ms;
          animation: shootingFrames 1118ms ease-in-out 4301ms;
  opacity: 0.36;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(3) {
  left: calc(31%);
  top: calc(57%);
  -webkit-animation: shootingFrames 849ms ease-in-out 13796ms;
          animation: shootingFrames 849ms ease-in-out 13796ms;
  opacity: 0.44;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(4) {
  left: calc(36%);
  top: calc(27%);
  -webkit-animation: shootingFrames 1262ms ease-in-out 13807ms;
          animation: shootingFrames 1262ms ease-in-out 13807ms;
  opacity: 0.89;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(5) {
  left: calc(34%);
  top: calc(68%);
  -webkit-animation: shootingFrames 1305ms ease-in-out 52963ms;
          animation: shootingFrames 1305ms ease-in-out 52963ms;
  opacity: 0.62;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(6) {
  left: calc(39%);
  top: calc(33%);
  -webkit-animation: shootingFrames 2105ms ease-in-out 20438ms;
          animation: shootingFrames 2105ms ease-in-out 20438ms;
  opacity: 0.85;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(7) {
  left: calc(41%);
  top: calc(12%);
  -webkit-animation: shootingFrames 1391ms ease-in-out 35513ms;
          animation: shootingFrames 1391ms ease-in-out 35513ms;
  opacity: 0.37;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(8) {
  left: calc(2%);
  top: calc(3%);
  -webkit-animation: shootingFrames 2629ms ease-in-out 11657ms;
          animation: shootingFrames 2629ms ease-in-out 11657ms;
  opacity: 0.41;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(9) {
  left: calc(32%);
  top: calc(80%);
  -webkit-animation: shootingFrames 1177ms ease-in-out 26585ms;
          animation: shootingFrames 1177ms ease-in-out 26585ms;
  opacity: 0.33;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(10) {
  left: calc(49%);
  top: calc(85%);
  -webkit-animation: shootingFrames 2681ms ease-in-out 54787ms;
          animation: shootingFrames 2681ms ease-in-out 54787ms;
  opacity: 0.38;
}

@-webkit-keyframes shootingFrames {
  0% {
    transform: translateX(0);
    width: 0;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
    transform: translateX(848px);
  }
}

@keyframes shootingFrames {
  0% {
    transform: translateX(0);
    width: 0;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
    transform: translateX(848px);
  }
}
.clouds {
  background: transparent url("https://wolf.drjm.co.uk/nightsky/clouds.png") repeat top center;
  z-index: 3;
  height: 150%;
  -webkit-animation: cloudsFrames 300s linear infinite;
          animation: cloudsFrames 300s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

@-webkit-keyframes cloudsFrames {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@keyframes cloudsFrames {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
.fogContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 7;
}

.fog {
  position: absolute;
  left: -50%;
  top: -30%;
  width: 200%;
  height: 0%;
  -webkit-animation-name: fogFrames;
          animation-name: fogFrames;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: linear-gradient(-5deg, #00000000 0%, #ffffff15 40%, #74590121 45%, #8b845b21 55%, #00000000 70%);
}

@-webkit-keyframes fogFrames {
  0% {
    transform: none;
  }
  10% {
    transform: scaleY(0.75) translate(5%, -2%) rotate(15deg);
  }
  25% {
    transform: scaleY(1) translate(10%, 7%);
  }
  50% {
    transform: scaleY(0.5) rotate(-15deg);
  }
  75% {
    transform: scaleY(0.2) translate(7%, -2%);
  }
  100% {
    transform: none;
  }
}

@keyframes fogFrames {
  0% {
    transform: none;
  }
  10% {
    transform: scaleY(0.75) translate(5%, -2%) rotate(15deg);
  }
  25% {
    transform: scaleY(1) translate(10%, 7%);
  }
  50% {
    transform: scaleY(0.5) rotate(-15deg);
  }
  75% {
    transform: scaleY(0.2) translate(7%, -2%);
  }
  100% {
    transform: none;
  }
}