@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2");
* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

body {
  background-color: #17182f;
}

.main {
  width: 100vw;
  height: 100vh;
}
.main h1 {
  font-size: 6vw;
}

#house {
  width: 52%;
  height: 639px;
  background-image: url("../img/house.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  width: 100vw;
  height: 4000px;
  position: relative;
  color: white;
}

#sec_box {
  width: 28%;
  height: 2040px;
  transition: 1s linear;
  top: -121.8%;
  background-image: url("../img/bad2.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  left: 50%;
  position: -webkit-sticky;
  position: sticky;
}
#sec_box :nth-of-type(4) {
  background-image: url("../img/m1.jpg");
  background-size: cover;
  background-position: center;
  display: none;
}
#sec_box :nth-of-type(5) {
  background-image: url("../img/p1.jpg");
  background-size: cover;
  background-position: center;
  display: none;
}
#sec_box :nth-of-type(6) {
  background-image: url("../img/d1.jpg");
  background-size: cover;
  background-position: center;
  display: none;
}
#sec_box :nth-of-type(7) {
  background-image: url("../img/po1.jpg");
  background-size: cover;
  background-position: center;
  display: none;
}
#sec_box :nth-of-type(8) {
  background-image: url("../img/b1.png");
  background-size: cover;
  background-position: center;
  display: none;
}

.video {
  width: 100%;
  height: 100%;
  -webkit-mask: url(../svg/cc.svg) repeat-x 50% 0;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-image: url("../img/sheep.png");
  background-size: cover;
  background-position: center;
}

.video_box {
  overflow: hidden;
  width: 460px;
  height: 376px;
  top: 63.4%;
  left: 46.5%;
  position: absolute;
  -webkit-mask: url(../svg/cc.svg) repeat-x 50% 0;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.video2 {
  width: 100%;
  height: 100%;
  background-image: url("../img/noise.png");
  background-size: cover;
  background-position: center;
  -webkit-animation: glitch 1s linear;
          animation: glitch 1s linear;
  display: none;
}
.video2:after {
  position: absolute;
  content: "";
  background-image: url("../img/noise.png");
  background-size: cover;
  background-position: center;
  width: 20em;
  height: 10em;
  -webkit-animation: glitch-after 1s infinite;
          animation: glitch-after 1s infinite;
}
.video2:before {
  position: absolute;
  content: "";
  background-image: url("../img/noise.png");
  background-size: cover;
  background-position: center;
  width: 20em;
  height: 10em;
  transform: translate(0em, 3em);
  -webkit-animation: glitch-before 1s infinite;
          animation: glitch-before 1s infinite;
}

.ttv {
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.text {
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}
.text p {
  transition: 0.3s ease;
  position: relative;
  font-family: "Black Han Sans", "sans-serif";
  font-size: 4.5vw;
}
.text:hover .video {
  transform: translateX(45px) !important;
}
.text:hover p {
  transform: translateY(-90%);
}

#sec_text {
  height: 779px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  z-index: 4;
  top: 40%;
}
#sec_text :first-child p::before {
  content: "MUSIC ON";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(2) p::before {
  content: "URBAN PHOTO";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(3) p::before {
  content: "QUANTIC DREAM";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(4) p::before {
  content: "POKEMON";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(5) p::before {
  content: "BANDI&LUNI'S";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.port_box {
  width: 100vw;
  height: 100%;
  z-index: 5;
  transition: 1s ease;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
}

.port_box_left {
  width: 37%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.port_box_left h1 {
  font-size: 5vw;
}
.port_box_left span {
  font-size: 1.5vw;
}
.port_box_left .button {
  width: 200px;
  height: 50px;
  transition: 0.3s ease;
  background-color: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.port_box_left .button a {
  color: black;
  text-decoration: none;
  transition: 0.3s ease;
}
.port_box_left .button:hover .circle {
  transform: scale(0);
}
.port_box_left .button:hover .circle2 {
  transform: scale(1);
}
.port_box_left .button:hover a {
  transform: translateX(25px);
}

.button + p {
  width: 75%;
  margin-top: 3%;
  font-size: 15px;
}

.block_box {
  display: flex;
}

.block {
  width: 80px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1%;
}
.block:nth-of-type(3) {
  opacity: 0;
}

.circle {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  left: 10%;
  transition: 0.3s ease;
}

.circle2 {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  left: 10%;
  transform: scale(0);
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.code_box {
  width: 70%;
  height: 350px;
  margin-top: 3%;
}
.code_box p {
  font-size: 15px;
}

.code_menu {
  width: 50%;
  height: 50px;
  color: black;
}
.code_menu ul {
  display: flex;
}
.code_menu ul li {
  background-color: ghostwhite;
  border: 0.5px solid #666;
  border-radius: 3px;
  width: 30%;
  height: 100%;
  line-height: 3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.html, .css, .js {
  width: 100%;
  height: 272px;
}
.html iframe, .css iframe, .js iframe {
  width: 100%;
  height: 100%;
}

.css, .js {
  display: none;
}

.prev, .next, .close {
  cursor: pointer;
}

.page {
  width: 100%;
  height: auto;
  background-color: cornsilk;
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.page2 {
  width: 100%;
  height: auto;
  background-color: cornsilk;
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.page2 .page_box2 {
  width: 45%;
  height: 500px;
  background-color: blue;
}
.page2 .page_box2 img {
  width: 100%;
  height: 100%;
}
.page2 .page_box3 {
  width: 20%;
  height: 350px;
  background-color: aqua;
}

.music {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.music1 {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.page_box {
  width: 80%;
  height: 487px;
  background-color: brown;
  position: relative;
}

.port_box_right::-webkit-scrollbar {
  display: none;
}

.port_box_right {
  width: 60%;
  height: 100%;
  overflow: scroll;
  position: absolute;
}

.sc1 {
  transform: translate3d(0px, -383px, 0px) scale(1.5);
}

.sc2 {
  transform: translate3d(0px, -709px, 0px) scale(2);
}

.sc3 {
  transform: scale(3.5) rotate(-5deg) translate3d(0px, -459px, 0px);
}

.sc4 {
  transform: scale(5) rotate(-10deg) translate3d(-23px, -499px, 0px);
}

.sc5 {
  transform: scale(7) rotate(-10deg) translate3d(-23px, -516px, 0px);
}

.sc6 {
  transform: scale(7) rotate(-10deg) translate3d(-23px, -516px, 0px);
  display: none;
}

.about_box {
  width: 100%;
  height: 121px;
  display: flex;
  margin-top: -30%;
  justify-content: center;
  font-size: 50px;
}

.about {
  width: 100%;
  height: 2580px;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #17182f;
}

.star {
  position: absolute;
  -webkit-animation-name: twinkle;
          animation-name: twinkle;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.star2 {
  position: absolute;
  -webkit-animation-name: twinkle;
          animation-name: twinkle;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.star3 {
  width: 100%;
  height: 100%;
}

.my1 {
  width: 95%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#photo_box {
  width: 390px;
  height: 390px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 50%;
  border: 2px dotted white;
}
#photo_box::before, #photo_box::after {
  content: "";
  position: absolute;
}
#photo_box::before {
  width: 2px;
  height: 50px;
  bottom: -13%;
  left: 49.5%;
  border-right: 2px dotted white;
}
#photo_box::after {
  width: 13px;
  height: 13px;
  left: 48.5%;
  bottom: -2.5%;
  background-color: white;
  border-radius: 50%;
}

.photo {
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 50%;
}
.photo::before, .photo::after {
  content: "";
  border-radius: 50%;
  position: absolute;
}
.photo::before {
  width: 22px;
  height: 22px;
  border: 2px solid white;
  bottom: -20%;
  left: 47%;
}
.photo::after {
  width: 10px;
  height: 10px;
  background-color: white;
  bottom: -18%;
  left: 49%;
}

.pola {
  width: 35%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.pola .pola2 {
  width: 45%;
  height: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pola .pola2 .pola3 {
  width: 95%;
  height: 250px;
  background-color: blanchedalmond;
}
.pola .pola2 p {
  width: 95%;
  height: 48px;
}

.my2 {
  margin-top: 6%;
  text-align: center;
  line-height: 1.8;
  color: white;
}
.my2 h1 {
  font-size: 70px;
  font-family: "HallymGothic-Regular";
}

.my3 {
  width: 77%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.my3 p {
  font-size: 18px;
}

#name {
  width: 12%;
  height: 70%;
  border-right: 1px solid navy;
}

#phone {
  width: 14%;
  height: 70%;
  border-right: 1px solid navy;
}

#lo {
  width: 14%;
  height: 70%;
  border-right: 1px solid navy;
}

#his {
  width: 38%;
  height: 70%;
  border-right: 1px solid navy;
}

#certi {
  width: 13%;
  height: 70%;
}

.skill {
  width: 60%;
  height: 500px;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
}
.skill:first-of-type .wave::before, .skill:first-of-type .wave::after {
  -webkit-animation: wave2 5s linear infinite;
          animation: wave2 5s linear infinite;
}

.circe_wave {
  width: 150px;
  height: 150px;
  background: #ccc;
  border: 1px dashed #333;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.circe_wave p {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 999;
}
.circe_wave .wave {
  position: relative;
  width: 100%;
  height: 100%;
  background: #21c1e9;
  border-radius: 50%;
}
.circe_wave .wave:before, .circe_wave .wave:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.circe_wave .wave:before {
  border-radius: 45%;
  background: rgb(255, 255, 255);
  -webkit-animation: wave 5s linear infinite;
          animation: wave 5s linear infinite;
}
.circe_wave .wave:after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-animation: wave 5s linear infinite;
          animation: wave 5s linear infinite;
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@-webkit-keyframes glitch {
  0%, 26%, 30%, 72%, 76% {
    transform: skew(0deg);
    box-shadow: none;
  }
  30%, 70% {
    transform: skew(30deg);
  }
  29%, 31%, 69%, 71% {
    transform: skew(0deg);
  }
  28%, 74% {
    box-shadow: -0.2em 0.1em 0 0 cyan, 0.2em -0.1em 0 0 magenta;
  }
  100% {
    background-image: url(../img/q4.png);
  }
}
@keyframes glitch {
  0%, 26%, 30%, 72%, 76% {
    transform: skew(0deg);
    box-shadow: none;
  }
  30%, 70% {
    transform: skew(30deg);
  }
  29%, 31%, 69%, 71% {
    transform: skew(0deg);
  }
  28%, 74% {
    box-shadow: -0.2em 0.1em 0 0 cyan, 0.2em -0.1em 0 0 magenta;
  }
  100% {
    background-image: url(../img/q4.png);
  }
}
@-webkit-keyframes glitche-after {
  0%, 34%, 38%, 46%, 50%, 100% {
    transform: translate(0, 1em);
    box-shadow: none;
  }
  36%, 48% {
    transform: translate(0.4em, 10em);
    box-shadow: -1em 0 0 0 cyan, 1em 0 0 0 magenta, 0.5em 1em 0 -0.8em cyan;
  }
}
@keyframes glitche-after {
  0%, 34%, 38%, 46%, 50%, 100% {
    transform: translate(0, 1em);
    box-shadow: none;
  }
  36%, 48% {
    transform: translate(0.4em, 10em);
    box-shadow: -1em 0 0 0 cyan, 1em 0 0 0 magenta, 0.5em 1em 0 -0.8em cyan;
  }
}
@-webkit-keyframes glitch-before {
  0%, 30%, 34%, 50%, 54%, 100% {
    transform: translate(0, 5em);
    box-shadow: none;
  }
  32%, 52% {
    transform: translate(-0.4em, 5em);
    box-shadow: -0.3em 0 0 0 red, 0.3em 0 0 0 yellow;
  }
}
@keyframes glitch-before {
  0%, 30%, 34%, 50%, 54%, 100% {
    transform: translate(0, 5em);
    box-shadow: none;
  }
  32%, 52% {
    transform: translate(-0.4em, 5em);
    box-shadow: -0.3em 0 0 0 red, 0.3em 0 0 0 yellow;
  }
}
@-webkit-keyframes wave {
  0% {
    transform: translate(-50%, -88%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -88%) rotate(360deg);
  }
}
@keyframes wave {
  0% {
    transform: translate(-50%, -88%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -88%) rotate(360deg);
  }
}
@-webkit-keyframes wave1 {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@keyframes wave1 {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@-webkit-keyframes twinkle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.3);
  }
}
@keyframes twinkle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.3);
  }
}
.shootingStarContainer:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 62%;
  transform: rotate(36deg);
  z-index: 10;
}
.shootingStarContainer:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 62%;
  transform: rotate(43deg);
  z-index: 10;
}
.shootingStarContainer:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 62%;
  transform: rotate(41deg);
  z-index: 10;
}

.shootingStar {
  position: absolute;
  height: 1px;
  background: linear-gradient(-70deg, rgb(255, 235, 235), rgb(0, 0, 0));
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(1) {
  left: calc(29%);
  top: calc(97%);
  -webkit-animation: shootingFrames 897ms ease-in-out 42609ms;
          animation: shootingFrames 897ms ease-in-out 42609ms;
  opacity: 0.31;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(2) {
  left: calc(21%);
  top: calc(81%);
  -webkit-animation: shootingFrames 1216ms ease-in-out 40957ms;
          animation: shootingFrames 1216ms ease-in-out 40957ms;
  opacity: 0.23;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(3) {
  left: calc(15%);
  top: calc(58%);
  -webkit-animation: shootingFrames 1911ms ease-in-out 32415ms;
          animation: shootingFrames 1911ms ease-in-out 32415ms;
  opacity: 0.57;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(4) {
  left: calc(6%);
  top: calc(91%);
  -webkit-animation: shootingFrames 1426ms ease-in-out 29981ms;
          animation: shootingFrames 1426ms ease-in-out 29981ms;
  opacity: 0.83;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(5) {
  left: calc(5%);
  top: calc(68%);
  -webkit-animation: shootingFrames 1636ms ease-in-out 48097ms;
          animation: shootingFrames 1636ms ease-in-out 48097ms;
  opacity: 0.81;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(6) {
  left: calc(50%);
  top: calc(39%);
  -webkit-animation: shootingFrames 759ms ease-in-out 54732ms;
          animation: shootingFrames 759ms ease-in-out 54732ms;
  opacity: 0.41;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(7) {
  left: calc(28%);
  top: calc(95%);
  -webkit-animation: shootingFrames 1613ms ease-in-out 46369ms;
          animation: shootingFrames 1613ms ease-in-out 46369ms;
  opacity: 0.64;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(8) {
  left: calc(49%);
  top: calc(23%);
  -webkit-animation: shootingFrames 2442ms ease-in-out 18611ms;
          animation: shootingFrames 2442ms ease-in-out 18611ms;
  opacity: 0.37;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(9) {
  left: calc(37%);
  top: calc(94%);
  -webkit-animation: shootingFrames 944ms ease-in-out 47591ms;
          animation: shootingFrames 944ms ease-in-out 47591ms;
  opacity: 0.44;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(10) {
  left: calc(39%);
  top: calc(97%);
  -webkit-animation: shootingFrames 2113ms ease-in-out 12233ms;
          animation: shootingFrames 2113ms ease-in-out 12233ms;
  opacity: 0.3;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(1) {
  left: calc(18%);
  top: calc(7%);
  -webkit-animation: shootingFrames 2047ms ease-in-out 22753ms;
          animation: shootingFrames 2047ms ease-in-out 22753ms;
  opacity: 0.26;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(2) {
  left: calc(3%);
  top: calc(92%);
  -webkit-animation: shootingFrames 2455ms ease-in-out 58208ms;
          animation: shootingFrames 2455ms ease-in-out 58208ms;
  opacity: 0.44;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(3) {
  left: calc(25%);
  top: calc(75%);
  -webkit-animation: shootingFrames 2078ms ease-in-out 46753ms;
          animation: shootingFrames 2078ms ease-in-out 46753ms;
  opacity: 0.75;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(4) {
  left: calc(18%);
  top: calc(58%);
  -webkit-animation: shootingFrames 2724ms ease-in-out 14323ms;
          animation: shootingFrames 2724ms ease-in-out 14323ms;
  opacity: 0.73;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(5) {
  left: calc(3%);
  top: calc(67%);
  -webkit-animation: shootingFrames 1674ms ease-in-out 10083ms;
          animation: shootingFrames 1674ms ease-in-out 10083ms;
  opacity: 0.34;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(6) {
  left: calc(46%);
  top: calc(55%);
  -webkit-animation: shootingFrames 2127ms ease-in-out 13581ms;
          animation: shootingFrames 2127ms ease-in-out 13581ms;
  opacity: 0.62;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(7) {
  left: calc(49%);
  top: calc(88%);
  -webkit-animation: shootingFrames 1030ms ease-in-out 5993ms;
          animation: shootingFrames 1030ms ease-in-out 5993ms;
  opacity: 0.17;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(8) {
  left: calc(36%);
  top: calc(31%);
  -webkit-animation: shootingFrames 1866ms ease-in-out 34293ms;
          animation: shootingFrames 1866ms ease-in-out 34293ms;
  opacity: 0.47;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(9) {
  left: calc(8%);
  top: calc(37%);
  -webkit-animation: shootingFrames 2275ms ease-in-out 48787ms;
          animation: shootingFrames 2275ms ease-in-out 48787ms;
  opacity: 0.61;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(10) {
  left: calc(31%);
  top: calc(9%);
  -webkit-animation: shootingFrames 2312ms ease-in-out 51268ms;
          animation: shootingFrames 2312ms ease-in-out 51268ms;
  opacity: 0.76;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(1) {
  left: calc(35%);
  top: calc(30%);
  -webkit-animation: shootingFrames 1490ms ease-in-out 44139ms;
          animation: shootingFrames 1490ms ease-in-out 44139ms;
  opacity: 0.17;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(2) {
  left: calc(22%);
  top: calc(52%);
  -webkit-animation: shootingFrames 2671ms ease-in-out 10500ms;
          animation: shootingFrames 2671ms ease-in-out 10500ms;
  opacity: 0.46;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(3) {
  left: calc(46%);
  top: calc(21%);
  -webkit-animation: shootingFrames 2146ms ease-in-out 44102ms;
          animation: shootingFrames 2146ms ease-in-out 44102ms;
  opacity: 0.17;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(4) {
  left: calc(40%);
  top: calc(33%);
  -webkit-animation: shootingFrames 2108ms ease-in-out 9174ms;
          animation: shootingFrames 2108ms ease-in-out 9174ms;
  opacity: 0.62;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(5) {
  left: calc(18%);
  top: calc(64%);
  -webkit-animation: shootingFrames 2606ms ease-in-out 22460ms;
          animation: shootingFrames 2606ms ease-in-out 22460ms;
  opacity: 0.77;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(6) {
  left: calc(25%);
  top: calc(39%);
  -webkit-animation: shootingFrames 2024ms ease-in-out 36455ms;
          animation: shootingFrames 2024ms ease-in-out 36455ms;
  opacity: 0.7;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(7) {
  left: calc(44%);
  top: calc(15%);
  -webkit-animation: shootingFrames 1751ms ease-in-out 12100ms;
          animation: shootingFrames 1751ms ease-in-out 12100ms;
  opacity: 0.74;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(8) {
  left: calc(38%);
  top: calc(62%);
  -webkit-animation: shootingFrames 1747ms ease-in-out 10770ms;
          animation: shootingFrames 1747ms ease-in-out 10770ms;
  opacity: 0.18;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(9) {
  left: calc(26%);
  top: calc(17%);
  -webkit-animation: shootingFrames 753ms ease-in-out 8611ms;
          animation: shootingFrames 753ms ease-in-out 8611ms;
  opacity: 0.52;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(10) {
  left: calc(26%);
  top: calc(70%);
  -webkit-animation: shootingFrames 1192ms ease-in-out 41631ms;
          animation: shootingFrames 1192ms ease-in-out 41631ms;
  opacity: 0.41;
}

@-webkit-keyframes shootingFrames {
  0% {
    transform: translateX(0);
    width: 0;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
    transform: translateX(853px);
  }
}

@keyframes shootingFrames {
  0% {
    transform: translateX(0);
    width: 0;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
    transform: translateX(853px);
  }
}
.clouds {
  background: transparent url("https://wolf.drjm.co.uk/nightsky/clouds.png") repeat top center;
  z-index: -1;
  height: 150%;
  -webkit-animation: cloudsFrames 300s linear infinite;
          animation: cloudsFrames 300s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

@-webkit-keyframes cloudsFrames {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@keyframes cloudsFrames {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
.fogContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.fog {
  position: absolute;
  left: -50%;
  top: -30%;
  width: 200%;
  height: 0%;
  -webkit-animation-name: fogFrames;
          animation-name: fogFrames;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  z-index: -1;
  background: linear-gradient(-5deg, #00000000 0%, #ffffff15 40%, #74590121 45%, #8b845b21 55%, #00000000 70%);
}

@-webkit-keyframes fogFrames {
  0% {
    transform: none;
  }
  10% {
    transform: scaleY(0.75) translate(5%, -2%) rotate(15deg);
  }
  25% {
    transform: scaleY(1) translate(10%, 7%);
  }
  50% {
    transform: scaleY(0.5) rotate(-15deg);
  }
  75% {
    transform: scaleY(0.2) translate(7%, -2%);
  }
  100% {
    transform: none;
  }
}

@keyframes fogFrames {
  0% {
    transform: none;
  }
  10% {
    transform: scaleY(0.75) translate(5%, -2%) rotate(15deg);
  }
  25% {
    transform: scaleY(1) translate(10%, 7%);
  }
  50% {
    transform: scaleY(0.5) rotate(-15deg);
  }
  75% {
    transform: scaleY(0.2) translate(7%, -2%);
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes film {
  from {
    transform: translate(0, 0) rotate(2deg);
  }
  to {
    transform: translate(1000px, 35px) rotate(2deg);
  }
}
@keyframes film {
  from {
    transform: translate(0, 0) rotate(2deg);
  }
  to {
    transform: translate(1000px, 35px) rotate(2deg);
  }
}
@-webkit-keyframes film2 {
  from {
    transform: translate(1000px, -35px) rotate(-2deg);
  }
  to {
    transform: translate(0px, 0) rotate(-2deg);
  }
}
@keyframes film2 {
  from {
    transform: translate(1000px, -35px) rotate(-2deg);
  }
  to {
    transform: translate(0px, 0) rotate(-2deg);
  }
}
@-webkit-keyframes fire {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fire {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes rocket {
  0% {
    transform: translate(-3000%, 800%);
  }
  50% {
    transform: translate(-1000%, 600%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes rocket {
  0% {
    transform: translate(-3000%, 800%);
  }
  50% {
    transform: translate(-1000%, 600%);
  }
  100% {
    transform: translate(0%);
  }
}