@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
* {
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  background: bage;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  color: #333;
  -webkit-animation: ani2 1.5s steps(70) forwards;
          animation: ani2 1.5s steps(70) forwards;
}

h1 {
  font-family: "Black Han Sans", "sans-serif";
  font-size: 10.5vw;
}

section {
  width: 100vw;
  height: 4000px;
  position: relative;
  color: white;
}

#sec_box {
  width: 100%;
  height: 2040px;
  transition: 1s linear;
  top: -121.8%;
  background-image: url("../img/3tv.png");
  background-size: cover;
  background-position: flex-start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
}

.video {
  width: 306px;
  height: 235px;
  position: absolute;
  top: 74.5%;
  left: 42%;
  z-index: -999;
}
.video img {
  width: 100%;
  height: 100%;
}

.text {
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}
.text p {
  transition: 0.3s ease;
  position: relative;
  font-family: "Black Han Sans", "sans-serif";
  font-size: 4.5vw;
}
.text:hover p {
  transform: translateY(-90%);
}

#sec_text {
  height: 779px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  z-index: 4;
  top: 40%;
}
#sec_text :first-child p::before {
  content: "MUSIC ON";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(2) p::before {
  content: "URBAN PHOTO";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(3) p::before {
  content: "QUANTIC DREAM";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(4) p::before {
  content: "POKEMON";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
#sec_text :nth-child(5) p::before {
  content: "BANDI&LUNI'S";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5vw;
  transform: translateY(90%);
  transition: 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.port_box {
  width: 100vw;
  height: 100%;
  z-index: 5;
  transition: 0.3s ease;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
}

.port_box_left {
  width: 37%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.port_box_left h1 {
  font-size: 5vw;
}
.port_box_left span {
  font-size: 1.5vw;
}
.port_box_left .button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  transition: 0.3s ease;
  border: 1px solid black;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.port_box_left .button a {
  color: black;
  text-decoration: none;
}
.port_box_left .button:hover {
  background-color: white;
  border: 1px solid white;
}
.port_box_left .button:hover a {
  color: black;
}

.bgg:nth-of-type(1) {
  background-image: url(../img/music1.jpg);
}

.bgg:nth-of-type(2) {
  background-image: url(../img/music2.jpg);
}

.bgg:nth-of-type(3) {
  background-image: url(../img/music3.jpg);
}

.bgg:nth-of-type(4) {
  background-image: url(../img/music4.jpg);
}

.bgg:nth-of-type(5) {
  background-image: url(../img/music5.jpg);
}

.bgg:nth-of-type(6) {
  background-image: url(../img/music6.jpg);
}

.bgg:nth-of-type(7) {
  background-image: url(../img/music7.jpg);
}

.bgg {
  background-position: center;
  background-size: cover;
}

.bg:nth-of-type(1) {
  background-image: url(../img/po1.jpg);
}

.bg:nth-of-type(2) {
  background-image: url(../img/po2.jpg);
}

.bg:nth-of-type(3) {
  background-image: url(../img/po3.jpg);
}

.bg:nth-of-type(4) {
  background-image: url(../img/po4.jpg);
}

.bg:nth-of-type(5) {
  background-image: url(../img/po5.jpg);
}

.bg:nth-of-type(6) {
  background-image: url(../img/po6.jpg);
}

.bg:nth-of-type(7) {
  background-image: url(../img/po7.jpg);
}

.bg {
  background-size: cover;
  background-position: center;
}

.bg_mo {
  width: 25%;
  height: 80%;
  position: absolute;
  right: -10%;
  z-index: 9;
  bottom: -20%;
  background-image: url(../img/pro2.png);
  background-size: cover;
  background-position: center;
}

.bg_mo2 {
  width: 20%;
  height: 80%;
  position: absolute;
  top: -30%;
  z-index: 9;
  left: -5%;
  background-image: url(../img/pro4.png);
  background-size: cover;
  background-position: center;
}

.bg_ta {
  width: 75%;
  height: 550px;
  background-image: url("../img/po12.png");
  background-size: cover;
  background-position: center;
}

.page {
  width: 100%;
  height: 2000px;
  background-color: cornsilk;
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.page2 {
  width: 100%;
  height: 4500px;
  background-color: cornsilk;
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.page2 .page_box2 {
  width: 45%;
  height: 500px;
  background-color: blue;
}
.page2 .page_box2 img {
  width: 100%;
  height: 100%;
}
.page2 .page_box3 {
  width: 20%;
  height: 350px;
  background-color: aqua;
}
.page2 :first-child(2) .bg11 {
  background-color: red;
}

.page_box {
  width: 80%;
  height: 487px;
  background-color: brown;
  position: relative;
}

.page_box2 {
  width: 40%;
  height: 300px;
  background-color: blue;
}
.page_box2 img {
  width: 100%;
  height: 100%;
}

.page_box4 {
  width: 91%;
  height: 495px;
  position: relative;
  background-color: blue;
}
.page_box4 img {
  width: 100%;
  height: 100%;
}

.page_box3 {
  width: 30%;
  height: 300px;
  background-size: cover;
  background-position: 20%, 20%;
}

.port_box_right::-webkit-scrollbar {
  display: none;
}

.port_box_right {
  width: 60%;
  height: 100%;
  overflow: scroll;
  position: absolute;
}

.sc1 {
  transform: translate3d(0px, -740px, 0px) scale(2);
}

.sc2 {
  transform: translate3d(0px, -1315px, 0px) scale(3);
}

.sc3 {
  transform: scale(3.5) rotate(-5deg) translate3d(0px, -459px, 0px);
}

.sc4 {
  transform: scale(5) rotate(-10deg) translate3d(-23px, -499px, 0px);
}

.sc5 {
  transform: scale(7) rotate(-10deg) translate3d(-23px, -516px, 0px);
}

.sc6 {
  transform: scale(7) rotate(-10deg) translate3d(-23px, -516px, 0px);
  display: none;
}

.about {
  width: 100%;
  height: 1000px;
  background-color: darkgreen;
  margin-top: -45%;
  position: absolute;
  z-index: -1;
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}