@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2');


// font-family: 'Black Han Sans', 'sans-serif';
// font-family: 'HallymGothic-Regular'
* {
    margin: 0;
    padding: 0;
}

ul,li,ol{
    list-style: none;
}
$w: 100vw;
$t: 0.3s ease;
$c: pointer;

@mixin flex($flex, $js, $ali, $row) {
    display: $flex;
    justify-content: $js;
    align-items: $ali;
    flex-direction: $row;
    @content;
}

@mixin bg($url, $size, $po) {
    background-image: url($url);
    background-size: $size;
    background-position: $po;
    @content
};

@mixin main($bcolor, $url, $x1, $y1, $col) {
    background: $bcolor;
    -webkit-mask: url($url);
    mask: url($url);
    -webkit-mask-size: $x1 $y1;
    mask-size: $x1 $y1;
    color: $col;
}

header {
    width: $w;
    height: 100vh;
    background-color: antiquewhite;
    @include flex(flex,space-between,flex-end,column);
    @include main(bage, "https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png", 7100%, 100%, #333);

    animation: ani2 1.5s steps(70) forwards;
h1{
    font-size:10vw;
}

}
.film{
    width:104%;
    height:250px;

    img{
        width:100%;
        height:101%;
        background-repeat: repeat-x;
        
    }

}

h1 {
    font: {
        family: 'Black Han Sans', 'sans-serif';
        size: 5vw;

    }

}

p{
    font-family: 'HallymGothic-Regular';
    margin: 0;
    font-size: 24px;

}



section {
    width: $w;
    height: 4000px;
    position:relative;

    color: white;

}

#sec_box{
    width:100%;
    height:2040px;
    transition: 1s linear;
    top:-121.8%;
    @include bg('../img/3tv.png',cover, flex-start);
    @include flex(flex, center, flex-start, column);
 
    position:sticky;
    :nth-of-type(4){
        @include bg('../img/m1.jpg',cover,center);
        display: none;
    
    }
    :nth-of-type(5){
        @include bg('../img/p1.jpg',cover,center);
        display: none;
    }
    :nth-of-type(6){
        @include bg('../img/d1.jpg',cover,center);
        display: none;
    }
      :nth-of-type(7){
        @include bg('../img/po1.jpg',cover,center);
        display: none;
    }
     :nth-of-type(8){
        @include bg('../img/b1.png',cover,center);
        display: none;
    }
   
}
.video{

    width:100%;
    height:100%;
    @include bg('../img/display_sp.png',cover,center);
}
.video_box{
    overflow: hidden;
    width:319px;
    height:237px;
    top:74.5%;
    left:41.5%;
    position:absolute;
}
.video2{
    width:100%;
    height:100%;
    @include bg('../img/noise.png',cover,center);
    animation:glitch 1s linear;
    display: none;

    &:after{
        position:absolute;
        content:'';
        @include bg('../img/noise.png',cover,center);
        width:20em;
        height:10em;
        animation:glitch-after 1s infinite;
    }
    &:before{
        position:absolute;
         content:'';
         @include bg('../img/noise.png',cover,center);
        width:20em;
        height:10em;
        transform: translate(0em,3em);
        animation:glitch-before 1s infinite;
    }
}

.ttv{ 
    width:100%;
    height:100%;
    z-index: 999;
    display: none;
}
.text {
    overflow: hidden;
    transition: $t;
    cursor: $c;
    p {
        transition:$t;
        position: relative;
        font: {
            family: 'Black Han Sans', 'sans-serif';
            size: 4.5vw;
        }
    }

    &:hover .video{
        transform: translateX(45px) !important
    }
    &:hover p {
        transform: translateY(-90%);
    }

}

#sec_text {
    height: 779px;
    @include flex(flex, space-around, flex-start, column);
    position:absolute;
    z-index: 4;
    top:40%;
   
    :first-child {
        p::before {
            content: 'MUSIC ON';
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 4.5vw;
            transform: translateY(90%);
            transition: $t;
            font-family: Arial, Helvetica, sans-serif;
        }
        
    }

    :nth-child(2) {
        p::before {
            content: 'URBAN PHOTO';
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 4.5vw;
            transform: translateY(90%);
            transition: $t;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    :nth-child(3) {
        p::before {
            content: 'QUANTIC DREAM';
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 4.5vw;
            transform: translateY(90%);
            transition: $t;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    :nth-child(4) {
        p::before {
            content: 'POKEMON';
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 4.5vw;
            transform: translateY(90%);
            transition: $t;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    :nth-child(5) {
        p::before {
            content: "BANDI&LUNI'S";
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 4.5vw;
            transform: translateY(90%);
            transition: $t;
            font-family: Arial, Helvetica, sans-serif;
        }
    }


}
.port_box{
    width:100vw;
    height:100%;

    z-index: 5;
    transition:1s ease;
    position:fixed;
    top:0;
    transform: translateX(-100%);

}
.port_box_left{
    width:37%;
    height:100%;
    float:right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        font-size: 5vw;
    }
    span{
        font-size: 1.5vw;
    }
    .button{
        width:200px;
        height:50px;
        transition:$t;
        background-color: none;
        position:relative;
        @include flex(flex,center,center,row);
        a{
            color:black;
            text-decoration: none;
            transition: $t;
        }
        &:hover .circle{
          transform: scale(0);
        }
        &:hover .circle2{
            transform: scale(1);
          }

        &:hover a{
            transform: translateX(25px);
        }
    }
}
.button+p{
    width:75%;
    margin-top:3%;
    font-size: 15px;
}
.block_box{
    display: flex;
}
.block{
    width:80px;
    height:40px;
    background-color: rgb(255, 255, 255);
    border-radius:30px;
    color:#333;
    @include flex(flex,center,center,row);
    margin:1%;
    &:nth-of-type(3){
        opacity: 0;
    }
}
.circle{
    cursor: pointer;
    width:50px;
    height:50px;
    position:absolute;
    border-radius: 50%;
    border:1px solid #fff;
    left:10%;
    transition: $t;
}
.circle2{
    cursor: pointer;
    width:45px;
    height:45px;
    position:absolute;
    border-radius: 50%;
    background-color: white;
    left:10%;
    transform: scale(0);
    transition:$t;
    @include flex(flex,center,center,row);
}

.code_box{
    width:70%;
    height:350px;
    margin-top:3%;
    p{
        font-size: 15px;
    }
}
.code_menu{
    width:50%;
    height:50px;
    color:black;
 
    ul{
       display: flex;
        li{
            background-color: ghostwhite;
            border:.5px solid #666;
            border-radius: 3px;
            width:30%;
            height:100%;
            line-height: 3;
            cursor: pointer;
            @include flex(flex,center,center,row);
        }
    }
}
.html,.css,.js{
    width:100%;
    height:272px;
    iframe{
        width:100%;
        height:100%;
    }
}

.css,.js{
    display: none;
}

.prev,.next,.close{
    cursor: pointer;

}


.page{
    width:100%;
    height:auto;
    background-color: cornsilk;
    color:#333;
    @include flex(flex,space-around,center,row)
    {flex-wrap: wrap};

}


.page2{
    width:100%;
    height:auto;
    background-color: cornsilk;
    color:#333;



    @include flex(flex,space-around,center,row)
    {flex-wrap: wrap};
    .page_box2{
        width:45%;
        height:500px;
        background-color: blue;
        img{
            width:100%;
            height:100%;
        }
    }
    .page_box3{
        width:20%;
        height:350px;
        background-color: aqua;
    }
 

}
.music{
    width:100%;
    height:auto;
    background-size: cover;
    background-position: center;
}
.music1{
    width:100%;
    height:auto;
    background-size: cover;
    background-position: center;
}

.page_box{
    width:80%;
    height:487px;
    background-color: brown;
    position:relative;
}
.port_box_right::-webkit-scrollbar {display: none;}
.port_box_right{
    width:60%;
    height:100%;
    overflow: scroll;
    position:absolute;

}


.sc1{
   transform:translate3d(0px,-383px,0px) scale(1.5);
}

.sc2{
    transform:translate3d(0px,-709px,0px) scale(2);
  
}

.sc3{
    transform:scale(3.5) rotate(-5deg) translate3d(0px,-459px,0px);
 
}

.sc4{
    transform:scale(5) rotate(-10deg) translate3d(-23px,-499px,0px);;
 
}

.sc5{
    transform:scale(7) rotate(-10deg) translate3d(-23px,-516px,0px);;
 
}
.sc6{
    transform:scale(7) rotate(-10deg) translate3d(-23px,-516px,0px);;
    display: none;
}
.about_box{
    width:100%;
    height:121px;
    display: flex;
    margin-top:-30%;
    justify-content: center;
    font-size: 50px;
}
.about{
    width:100%;
    height:2580px;
 
    position:absolute;
    z-index: -1;
 @include flex(flex,center,center,column);
 background-color: #17182f;
}
.star {
    position: absolute;
    animation-name: twinkle;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    user-select: none; 
  }
  .star2{
    width:100%;
    height:40%;
  }
 
.my1{
   width:95%;
   height:400px;

   @include flex(flex,space-around,center,row);
}
#photo_box{
    width:390px;
    height:390px;
    position:relative;
    @include flex(flex,space-around,center,row);
    border-radius:50%;
    border: 2px dotted chartreuse;
    &::before, &::after{
        content: "";
        position:absolute;

    }
    &::before{
        width:2px;
        height:50px;
        bottom:-13%;
        left:49.5%;
        border-right:2px dotted chartreuse;
    }
    &::after{
        width:13px;
        height:13px;
        left:48.5%;
        bottom:-2.5%;
        background-color: chartreuse;
        border-radius: 50%;;
    }
}
.photo{
    width:350px;
    height:350px;
    background-color: chartreuse;
    border-radius: 50%;
    &::before, &::after{
        content: "";
        border-radius: 50%;
        position:absolute;
    }
    &::before{
        width:22px;
        height:22px;
        border:2px solid chartreuse;
        bottom:-20%;
        left:47%;
    }
    &::after{
        width:10px;
        height:10px;
        background-color: chartreuse;
        bottom:-18%;
        left:49%;
    }
}
.pola{
    width:35%;
    height:400px;
    @include flex(flex,space-around,center,row);
    .pola2{
        width:45%;
        height:80%;
        background-color: white;
        @include flex(flex,center,center,column);
        .pola3{
            width:95%;
            height:250px;
            background-color: blanchedalmond;
        }
        p{
            width:95%;
            height:48px;

        }
    }
}
.my2{
    margin-top:6%;
    text-align: center;
    line-height: 1.8;
    color:white;
    h1{
        font-size: 70px;
    }
}
.my3{
    width:77%;
    height:150px;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 20px;
    margin-top:2%;
    @include flex(flex,space-around,center,row);
    p{
        font-size:18px;
    }
}
#name{
    width:12%;
    height:70%;
    border-right:1px solid navy;
}
#phone{
    width:14%;
    height:70%;
    border-right:1px solid navy;
}
#lo{
    width:14%;
    height:70%;
    border-right:1px solid navy;
}
#his{
    width:38%;
    height:70%;
    border-right:1px solid navy;
}
#certi{
    width:13%;
    height:70%;
}
.skill{
    width:60%;
    height:500px;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;

            
    &:first-of-type{
        .wave{
            &::before,&::after{
                animation: wave2 5s linear infinite;
            }
        }
           
     
     
    }
 }
  .circe_wave {

    width: 150px;
    height: 150px;
    background: #ccc;
    border: 1px dashed #333;
    border-radius: 50%;
    overflow: hidden;
    position:relative;
    p{
        position:absolute;
        color:black;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        z-index: 999;
    }
    .wave {
      position: relative;
      width: 100%;
      height: 100%;
      background: #21c1e9;
      border-radius: 50%;
  
      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
        background: #000;
      }
      
      &:before {
        border-radius: 45%;
        background: rgba(255, 255, 255, 1);
        animation: wave 5s linear infinite;

      }
      
      &:after {
        border-radius: 40%;
        background: rgba(255, 255, 255, .5);
        animation: wave 5s linear infinite;
      }
    }
  }
  


@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes glitch{
    0%,26%,30%,72%,76%{ transform:skew(0deg) ; box-shadow: none }
    30%,70% {transform: skew(30deg);}
    29%,31%,69%,71% {transform: skew(0deg);}
    28%,74% { box-shadow: 
      -0.2em 0.1em 0 0 cyan,
      0.2em -0.1em 0 0 magenta
    }
    100%{
        background-image: url(../img/q4.png);
    }
  }

  @keyframes glitche-after {
    0%,34%,38%,46%,50%,100% { transform: translate(0,1em); box-shadow: none; }
    36%,48% { transform: translate(0.4em,10em);
    box-shadow: 
      -1em 0 0 0 cyan,
      1em 0 0 0 magenta,
      0.5em 1em 0 -0.8em cyan
    }
  }

  @keyframes glitch-before {
    0%,30%,34%,50%,54%,100% { transform: translate(0,5em); box-shadow: none; }
    32%,52% { transform: translate(-0.4em,5em);
    box-shadow: 
      -0.3em 0 0 0 red,
      0.3em 0 0 0 yellow}
  }


 
  @keyframes wave {
    0% {
      transform: translate(-50%, -88%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -88%) rotate(360deg);
    }
  }
  @keyframes wave1 {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

  @keyframes twinkle {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.3);
    }
}
  $shootingStarContainerCount: 3;
$starCount: 10;

.shootingStarContainer {
    @for $j from 1 through $shootingStarContainerCount {
        &:nth-child(#{$j}) {
            position: absolute;
            width: 100%;
            height: 62%;
            transform: rotate(random(10)+35deg);
            z-index: 10;
            //    background-color: #30000080;
        }
    }
}

.shootingStar {
    position: absolute;
    height: 1px;
    background: linear-gradient(-70deg, rgba(255, 235, 235, 1), rgba(0, 0, 0, 1));

    @for $j from 1 through $shootingStarContainerCount {
        @for $i from 1 through $starCount {
            .shootingStarContainer:nth-child(#{$j}) &:nth-child(#{$i}) {
                $delay: random(60000) + 200ms;
                $duration: random(2000) + 750ms;
                left: calc(#{random(50) + 0%});
                top: calc(#{random(98) + 1%});
                animation: shootingFrames $duration ease-in-out $delay;
                opacity: random(75) / 100 + 0.15;

            }
        }
    }
}

@keyframes shootingFrames {
    0% {
        transform: translateX(0);
        width: 0;
    }

    30% {
        width: 200px;
    }

    100% {
        width: 0;
        transform: translateX(random(100) + 800px);
    }
}

.clouds {
    background: transparent url('https://wolf.drjm.co.uk/nightsky/clouds.png') repeat top center;
    z-index: 3;
    height: 150%;
    animation: cloudsFrames 300s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

@keyframes cloudsFrames {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.fogContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 7;
}

.fog {
    position: absolute;
    left: -50%;
    top: -30%;
    width: 200%;
    height: 0%;
    animation-name: fogFrames;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(-5deg, #{"#00000000 0%, #ffffff15 40%, #74590121 45%, #8b845b21 55%, #00000000 70%"});
}



@keyframes fogFrames {
    0% {
        transform: none;
    }

    10% {
        transform: scaleY(.75) translate(5%, -2%) rotate(15deg);
    }

    25% {
        transform: scaleY(1) translate(10%, 7%);
    }

    50% {
        transform: scaleY(0.5) rotate(-15deg);
    }

    75% {
        transform: scaleY(0.2) translate(7%, -2%);
    }

    100% {
        transform: none;
    }

}
  