@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2');


// font-family: 'Black Han Sans', 'sans-serif';
// font-family: 'HallymGothic-Regular'
* {
    margin: 0;
    padding: 0;
}

$w: 100vw;
$t: 0.3s ease;
$c: pointer;

@mixin flex($flex, $js, $ali, $row) {
    display: $flex;
    justify-content: $js;
    align-items: $ali;
    flex-direction: $row;
    @content;
}

@mixin bg($url, $size, $po) {
    background-image: url($url);
    background-size: $size;
    background-position: $po;
    @content
};

@mixin main($bcolor, $url, $x1, $y1, $col) {
    background: $bcolor;
    -webkit-mask: url($url);
    mask: url($url);
    -webkit-mask-size: $x1 $y1;
    mask-size: $x1 $y1;
    color: $col;
}

header {
    width: $w;
    height: 100vh;
    display: flex;
}
.left{
    width:35%;
    height:100%;
    background-color: ghostwhite;
}
.right{
    width:65%;
    height:100%;
    background-color: #29295e;
}
#pic{
    width:200px;
    height:400px;
    position:absolute;
    top:10%;
    left:20%;
    @include bg('../img/m1.png',cover,center);
}
#right_box{
    width:822px;
    height:500px;
    position:absolute;
    top:40%;
    left:20%;
    @include flex(flex,space-evenly,flex-end,row){
        flex-wrap: wrap;
        align-content: flex-end;
    };
}
#table{
    width:900px;
    height:30px;
    border-radius: 20px;
    background-color: #666;
}
#radio{
    width:171px;
    height:166px;
    animation:m1 .5s ease 1.4s forwards;
    @include bg('../img/m11.png',cover,center);
    opacity: 0;
}
#lp{
    width:400px;
    height:294px;
    animation:m1 .5s ease forwards;
    @include bg('../img/m8.png',cover,center);
    opacity: 0;
}
.code_box{
    width:160px;
    height:110px;
    @include flex(flex,center, flex-start,column);
    background-color: rgb(37, 37, 37);
    margin: {
        top:7%;
        left:22%;
    }
    font-size: 11px;
    color: green;
    :nth-child(3){
        margin-left:5%;
       }
   :nth-child(4){
    margin-left:5%;
   }
}
#plan{
    width:50px;
    height:58px;
    animation:m1 .5s ease 1s forwards;
    @include bg('../img/m9.png',cover,center);
    opacity: 0;
}
#plan2{
    width:132px;
    height:110px;
    animation:m1 .5s ease 1.2s forwards;
    @include bg('../img/m10.png',cover,center);
    opacity: 0;
}
#cup{
    width:50px;
    height:50px;
    animation:m1 .5s ease .5s forwards;
    @include bg('../img/m12.png',cover,center);
    opacity: 0;
}
#light{
    width:70px;
    height:70px;
    top:25%;
    left:15%;
    position:absolute;
    @include bg('../img/m13.png',cover,center);
}
h1 {
    font: {
        family: 'Black Han Sans', 'sans-serif';
        size: 5vw;

    }

}

p{
    font-family: 'HallymGothic-Regular'
}



section {
    width: $w;
    height: 4000px;
    position:relative;

    color: white;

}

#sec_box{
    width:100%;
    height:2040px;
    transition: 1s linear;
    top:-121.8%;
    @include bg('../img/3tv.png',cover, flex-start);
    @include flex(flex, center, flex-start, column);
 
    position:sticky;
    :nth-of-type(4){
        @include bg('../img/m1.jpg',cover,center);
        display: none;
    
    }
    :nth-of-type(5){
        @include bg('../img/p1.jpg',cover,center);
        display: none;
    }
    :nth-of-type(6){
        @include bg('../img/d1.jpg',cover,center);
        display: none;
    }
      :nth-of-type(7){
        @include bg('../img/po1.jpg',cover,center);
        display: none;
    }
     :nth-of-type(8){
        @include bg('../img/b1.png',cover,center);
        display: none;
    }
   
}
.video{

    width:100%;
    height:100%;
    @include bg('../img/display_sp.png',cover,center);
}
.video_box{
    overflow: hidden;
    width:319px;
    height:237px;
    top:74.5%;
    left:41.5%;
    position:absolute;
}
.video2{
    width:100%;
    height:100%;
    @include bg('../img/noise.png',cover,center);
    animation:glitch 1s linear;
    display: none;

    &:after{
        position:absolute;
        content:'';
        @include bg('../img/noise.png',cover,center);
        width:20em;
        height:10em;
        animation:glitch-after 1s infinite;
    }
    &:before{
        position:absolute;
         content:'';
         @include bg('../img/noise.png',cover,center);
        width:20em;
        height:10em;
        transform: translate(0em,3em);
        animation:glitch-before 1s infinite;
    }
}

.ttv{ 
    width:100%;
    height:100%;
    z-index: 999;
    display: none;
}
.text {
    overflow: hidden;
    transition: $t;
    cursor: $c;
    p {
        transition:$t;
        position: relative;
        font: {
            family: 'Black Han Sans', 'sans-serif';
            size: 4.5vw;
        }
    }

    &:hover .video{
        transform: translateX(45px) !important
    }
    &:hover p {
        transform: translateY(-90%);
    }

}

#sec_text {
    height: 779px;
    @include flex(flex, space-around, flex-start, column);
    position:absolute;
    z-index: 4;
    top:40%;
   
    :first-child {
        p::before {
            content: 'MUSIC ON';
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 4.5vw;
            transform: translateY(90%);
            transition: $t;
            font-family: Arial, Helvetica, sans-serif;
        }
        
    }

    :nth-child(2) {
        p::before {
            content: 'URBAN PHOTO';
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 4.5vw;
            transform: translateY(90%);
            transition: $t;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    :nth-child(3) {
        p::before {
            content: 'QUANTIC DREAM';
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 4.5vw;
            transform: translateY(90%);
            transition: $t;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    :nth-child(4) {
        p::before {
            content: 'POKEMON';
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 4.5vw;
            transform: translateY(90%);
            transition: $t;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    :nth-child(5) {
        p::before {
            content: "BANDI&LUNI'S";
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 4.5vw;
            transform: translateY(90%);
            transition: $t;
            font-family: Arial, Helvetica, sans-serif;
        }
    }


}
.port_box{
    width:100vw;
    height:100%;

    z-index: 5;
    transition:1s ease;
    position:fixed;
    top:0;
    transform: translateX(-100%);

}
.port_box_left{
    width:37%;
    height:100%;
    float:right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        font-size: 5vw;
    }
    span{
        font-size: 1.5vw;
    }
    .button{
        width:200px;
        height:50px;
        transition:$t;
        background-color: none;
        position:relative;
        @include flex(flex,center,center,row);
        a{
            color:black;
            text-decoration: none;
            transition: $t;
        }
        &:hover .circle{
          transform: scale(0);
        }
        &:hover .circle2{
            transform: scale(1);
          }

        &:hover a{
            transform: translateX(25px);
        }
    }
}
.circle{
    cursor: pointer;
    width:50px;
    height:50px;
    position:absolute;
    border-radius: 50%;
    border:1px solid #fff;
    left:10%;
    transition: $t;
}
.circle2{
    cursor: pointer;
    width:45px;
    height:45px;
    position:absolute;
    border-radius: 50%;
    background-color: white;
    left:10%;
    transform: scale(0);
    transition:$t;
    @include flex(flex,center,center,row);
}

.prev,.next,.close{
    cursor: pointer;

}


.page{
    width:100%;
    height:auto;
    background-color: cornsilk;
    color:#333;
    @include flex(flex,space-around,center,row)
    {flex-wrap: wrap};

}


.page2{
    width:100%;
    height:auto;
    background-color: cornsilk;
    color:#333;



    @include flex(flex,space-around,center,row)
    {flex-wrap: wrap};
    .page_box2{
        width:45%;
        height:500px;
        background-color: blue;
        img{
            width:100%;
            height:100%;
        }
    }
    .page_box3{
        width:20%;
        height:350px;
        background-color: aqua;
    }
 

}
.music{
    width:100%;
    height:auto;
    background-size: cover;
    background-position: center;
}
.music1{
    width:100%;
    height:auto;
    background-size: cover;
    background-position: center;
}

.page_box{
    width:80%;
    height:487px;
    background-color: brown;
    position:relative;
}
.port_box_right::-webkit-scrollbar {display: none;}
.port_box_right{
    width:60%;
    height:100%;
    overflow: scroll;
    position:absolute;

}


.sc1{
   transform:translate3d(0px,-383px,0px) scale(1.5);
}

.sc2{
    transform:translate3d(0px,-709px,0px) scale(2);
  
}

.sc3{
    transform:scale(3.5) rotate(-5deg) translate3d(0px,-459px,0px);
 
}

.sc4{
    transform:scale(5) rotate(-10deg) translate3d(-23px,-499px,0px);;
 
}

.sc5{
    transform:scale(7) rotate(-10deg) translate3d(-23px,-516px,0px);;
 
}
.sc6{
    transform:scale(7) rotate(-10deg) translate3d(-23px,-516px,0px);;
    display: none;
}
.about_box{
    width:100%;
    height:121px;
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.about{
    width:100%;
    height:2580px;
 
    margin-top:-45%;
    position:absolute;
    z-index: -1;
 @include flex(flex,center,center,column);
}

.photo{
    width:100%;
    height:600px;
    background-color: antiquewhite;
}
.skill{
    @include flex(flex,space-around,center,row){
        flex-wrap: wrap;
    };
    width:50%;
    height:400px;   
}
@for $i from 1 through 12{
    .skill_icon:nth-of-type(#{$i}){
        background-image: url(../img/s#{$i}.png),
        linear-gradient(350deg, #8ccbfdb5,transparent);
    }
}

.skill_icon{
    border-radius: 50%;
    width:150px;
    height:150px;
    background-color: #fff;
    background-position: center;
    background-size: 70%,100%;
    background-repeat: no-repeat;
    position:relative;
    overflow: hidden;
    &::after{
        content:'';
        width:250px;
        height:250px;
        position:absolute;
        top:0;
        left:0%;
        margin-left:-50px;
        margin-top:-200px;
        border-radius: 35%;
        background: rgba(255,255,255,.75);
        animation:wave 10s infinite linear;
    }
}
.photo{
    mask: url(../svg/svg1.svg);
    mask-size:100%;
    mask-repeat: no-repeat;
    @include flex(flex,center,center,row);
}
.my1{
    width:24%;
    height:300px;
    background-color: aliceblue;
    margin: {
        left:2%;
        top:3%;
    }
    p{
        font-size: 20px;

    }
}
.my{
    font-size: 40px;
    font-family: 'HallymGothic-Regular'
}
.photo2{
    width:14vw;
    height:18vw;
    background-color: rgb(86, 102, 97);
    margin-top:3%;
  
}






@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes glitch{
    0%,26%,30%,72%,76%{ transform:skew(0deg) ; box-shadow: none }
    30%,70% {transform: skew(30deg);}
    29%,31%,69%,71% {transform: skew(0deg);}
    28%,74% { box-shadow: 
      -0.2em 0.1em 0 0 cyan,
      0.2em -0.1em 0 0 magenta
    }
    100%{
        background-image: url(../img/q4.png);
    }
  }

  @keyframes glitche-after {
    0%,34%,38%,46%,50%,100% { transform: translate(0,1em); box-shadow: none; }
    36%,48% { transform: translate(0.4em,10em);
    box-shadow: 
      -1em 0 0 0 cyan,
      1em 0 0 0 magenta,
      0.5em 1em 0 -0.8em cyan
    }
  }

  @keyframes glitch-before {
    0%,30%,34%,50%,54%,100% { transform: translate(0,5em); box-shadow: none; }
    32%,52% { transform: translate(-0.4em,5em);
    box-shadow: 
      -0.3em 0 0 0 red,
      0.3em 0 0 0 yellow}
  }

  @keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
  }

  @keyframes m1 {
    0% { transform: translateY(-500px);opacity: 1;}
    80% { transform: translateY(0px);}
    65% { transform: translateY(5px);}
    100% { transform: translateY(0px); opacity: 1;}
  }


  